@model List<Photo>

@{
    ViewData["Title"] = "Photos";
}

<div class="mx-auto px-3 py-3 pt-md-5 pb-md-4 text-center">
    <h2>
        <span>Photos for the @ViewBag.category Project</span>
    </h2>
</div> 

<div class="container">
    <div class="card-deck mb-3 text-center" align="center">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card-deck mx-auto text-center col">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@Html.DisplayFor(modelItem => item.Title)</h4>
                        </div>
                        <div class="card-body">
                            <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="250" height="250" />
                            <p>@Html.DisplayFor(modelItem => item.Category.Name)</p>
                            <p>Uploaded by: @Html.DisplayFor(modelItem => item.UserName)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>