@model IEnumerable<LetsTryMVC.Models.Photo>

@{
    ViewData["Title"] = "Photos";
}

<div class="mx-auto px-3 py-3 pt-md-5 pb-md-4 text-center">
    <h2>
        <span>Your Photos</span>
    </h2>
    <div>
        <a asp-action="Create" class="btn btn-primary mb-3">Add a new photo</a>
        <br />
        <a asp-action="AllPhotos" class="btn btn-secondary mb-3" asp-route-category="All">See all photos</a>
    </div>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center" align="center">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card-deck mx-auto text-center col">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@Html.DisplayFor(modelItem => item.Title)</h4>
                        </div>
                        <div class="card-body">
                            <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="250" height="250" />
                            <p>@Html.DisplayFor(modelItem => item.Category.Name)</p>
                            @Html.ActionLink("See all photos for this project", "AllPhotos", "Photos", new { category = item.Category.Name }, new { @class = "btn btn-outline-info" })
                            <br />
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger m-2">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>