@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@model LetsTryMVC.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Store Checkout";
    CultureInfo us = new CultureInfo("en-US");
}


@if (Model.CartItems.Count == 0)
{
<div class="align-content-center my-auto">
    @Html.ActionLink("Your cart is empty. Continue Shopping!", "Index", "Products", null, new { @class = "btn btn-outline-info btn-lg btn-block" })
</div>
}
else
{
    <table class="table">
        <tr>

            <th scope="col">
                Product
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                Quantity
            </th>
            <th scope="col">
                Product Total
            </th>
            <th scope="col">
                @*BLANK INTENTIONALLY*@
            </th>
        </tr>

        @foreach (Cart item in Model.CartItems)
        {
            <tr>
                <td scope="col">
                    @item.Product.Name
                </td>
                <td scope="col">
                    @item.Product.Price.ToString("c", us)
                </td>
                <td scope="col" id="item-count-@item.ProductId">
                    @item.Count
                </td>
                <td scope="col">
                    @((item.Product.Price*item.Count).ToString("c",us))
                </td>
                <td scope="col">
                    @Html.ActionLink("Add Another To Cart", "AddToCart", "ShoppingCart", new { id = item.ProductId }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Remove From Cart", "RemoveFromCart", "ShoppingCart", new { id = item.ProductId }, new { @class = "btn btn-outline-danger btn-sm" })
                </td>
            </tr>
        }
        <tr>
            <th scope="col"><strong>Total: </strong></th>
            <td scope="col"></td>
            <td scope="col"></td>
            <th id="cart-total" class="text-success" scope="col">@Model.CartTotal.ToString("C", us)</th>
            <td scope="col"></td>
        </tr>
    </table>
    <div class="container">
        <div>
            @Html.ActionLink("Checkout ", "AddressAndPayment", "Checkout", new { amount = Model.CartTotal }, new { @class = "btn btn-success btn-lg btn-block" })
        </div>
        <br />
        <div>
            @Html.ActionLink("Continue Shopping ", "Index", "Products", null, new { @class = "btn btn-outline-info btn-sm btn-block" })
        </div>

    </div>
}

