@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@model LetsTryMVC.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Store Checkout";
    CultureInfo us = new CultureInfo("en-US");
}


<h3 class="text-center">
    <span>Your shopping cart:</span>
</h3>

<div id="update-message" class="text-info">
</div>
@if (Model.CartItems.Count == 0)
{
    <a class="btn-danger" href="~/StoreFront/Index/1">Your shopping cart is empty, continue shopping!</a>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-sm align-items-center">
                <strong>Product</strong>
            </div>
            <div class="col-sm align-items-center">
                <strong>Price</strong>
            </div>
            <div class="col-sm align-items-center">
                <strong>Quantity</strong>
            </div>
            <div class="col-sm align-items-center">
                <strong>Product Total</strong>
            </div>
            <div class="col-sm">
              
            </div>
        </div>
        @foreach (Cart item in Model.CartItems)
        {
    <div class="container">
        <div class="row">
            <div class="col-sm">
                @item.Product.Name
            </div>
            <div class="col-sm">
                @item.Product.Price.ToString("c", us)
            </div>
            <div class="col-sm" id="item-count-@item.ProductId">
                @item.Count
            </div>
            <div class="col-sm">
                @((item.Product.Price*item.Count).ToString("c",us))
            </div>
            <div class="col-sm">
                @Html.ActionLink("Remove From Cart", "RemoveFromCart", "ShoppingCart", new { id = item.ProductId }, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <br />
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8"><strong>Total: </strong></div>
            <div id="cart-total" class="col-6 col-md-4 text-success">@Model.CartTotal.ToString("C", us)</div>
        </div>
        <p class="button">
            <a href="~/Products/Index">Continue shopping>></a>
        </p>
        <p class="button">
            @Html.ActionLink("Checkout ", "AddressAndPayment", "Checkout", new { amount = Model.CartTotal })
        </p>
    </div>
}

