@model List<Friends>


<h1>Your Friends:</h1>
<br />

@if (Model.Count == 0)
{
    <div class="align-content-center my-auto">
        @Html.ActionLink("Add Some Friends!", "Index", "FriendsList", null, new { @class = "btn btn-outline-info btn-lg btn-block" })
    </div>
} else
{
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Pictures</th>
            <th></th>
        </tr>
        @foreach (var friend in Model)
        {
            <tr>
                <td>@friend.Friend.UserName</td>
                <td>@Html.ActionLink(@friend.Friend.UserName + "'s Photos", "TheirPhotos", "Photos", new { userName = friend.Friend.UserName }, new { @class = "btn btn-outline-primary" })</td>
                <td>@Html.ActionLink("Remove Friend", "RemoveFriend", "FriendsList", new { id = friend.Friend.Id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </table>
}


