@*@using LetsTryMVC.Models
    @model List<Product>*@

@model IEnumerable<LetsTryMVC.Models.Product>

<h1>Products</h1>
<p>
    <a asp-controller="Products" asp-action="Create">Add Product To List</a>
</p>

<table>
    @foreach (var product in Model)
    {
    <tr>
        <div class="media">
            <img class="align-self-center mr-3" src="@Url.Content("~/image/" + product.ImageName)" asp-append-version="true" width="250" height="250">
            <div class="media-body">
                <h3 class="mt-3 mb-1">@product.Name</h3>
                <p>@product.Description</p>
                <h5 style="text-align: right;">@product.Price.ToString("c")</h5>
                <button class="btn btn-primary float-right">
                    <span style="display: inline;">@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = product.Id }, new { @style = "color:black;" })</span>
                </button>
                <button class="btn btn-outline-info btn-sm">
                    <span style="display: inline;">@Html.ActionLink("See Photos of This Product From Other Users!", "AllPhotos", "Photos", new { category = product.Category.Name })</span>
                </button>

            </div>
        </div>
    </tr>
    }
</table>